%article
  %h1 What is the Agile Campus Tour?
  
  %p Agile is a new buzzword. A lot of companies are looking for other ways to manage projects and teams, and therefore, are looking at Agile as a possible candidate. But behind the buzzword, there are strong values and practices.
  
  %p The Agile Campus Tour will not make you experts in any Agile frameworks. It's purpose is to open student's minds to other practices, and provide them some tools they might want to use on their own projects. The event is totally free, it's schedule is flexible and can be adapted to students habits and schedule. It's composed of a mix of theory and hands-on sessions.
  
  %p The theory will cover the following topics:
  
  %ul.enumeration
    %li Values of the agile manifesto
    %li Concept of user Stories
    %li Story points and story points estimation
    %li The basics of Kanban
    %li Software development practices
    %li Improving the process through frequent retrospectives
  
  %p The hands-on sessions will focus on estimating and planning a project, and introduce pair programming to students.
  
  %p Join the next Agile Generation, help us organize the Agile Campus Tour in your university!