%article
  %h1 Wat is de AgileCampusTour?

  %p Agile is een nieuw buzzword. Veel bedrijven zijn aan het kijken naar andere manieren om projecten en teams te organiseren, daarbij is Agile een mogelijke kandidaat. Achter het buzzword zitten een aantal sterke waardes en principes.

  %p De AgileCampusTour maakt je geen expert in een Agile framework. Het doel is om de geest van de student open te stellen voor andere principes en hun gereedschap aan te bieden dat ze kunnen gebruiken bij hun eigen projecten. Het evenement is volledig gratis, de planning flexibel en aangepast aan de wensen van de studenten. De planning is samengesteld uit een mix van theorie- en praktijksessies.

  %p De theoretische sessies bevatten volgende onderwerpen:

  %ul
    %li Waardes van het agile manifesto
    %li Het concept van user stories
    %li Planning aan de hand van story points
    %li De basis van een kanban
    %li Software development praktijken
    %li Procesverbetering met behulp van regelmatige retrospectieven

  %p De praktijksessies zullen focussen op het inschatten en plannen van een project en de introductie van pair programming voor studenten.

  %p Sluit je aan bij de volgende Agile Generatie en help ons een AgileCampusTour te organiseren in jouw universiteit!
