%article
  %h1 What is the AgileCampusTour?
  
  %p Agile is a new buzzword. A lot of companies are looking for other ways to manage projects and teams, and therefore, are looking at agile as a possible candidate. But behind the buzzword, there are strong values and practices.
  
  %p The AgileCampusTour will not make you an expert in any agile framework. Its purpose is to open students' minds to other practices, and arms them with tools they might want to use on their own projects. The event is totally free, its schedule is flexible and can be adapted to the students' habits. It's a mix of theory and hands-on sessions.
  
  %p The theory will cover the following topics:
  
  %ul.enumeration
    %li Values of the agile manifesto
    %li Concept of user Stories
    %li Story points and story points estimation
    %li The basics of Kanban
    %li Software development practices
    %li Improving the process through frequent retrospectives
  
  %p The hands-on sessions will focus on estimating and planning a project, and introduce pair programming to students.
  
  %p Join the next agile generation, help us organize the AgileCampusTour in your university!
