%article
  %h1
    = t.tabs.calendar
    %a.subscribe_ical{:type => 'text/calendar', :href => "webcal://h2vx.com/ics/#{@host}/#{@locale}/calendar"} toevoegen aan iCal
  
  %h2 Louvain-la-Neuve
  
  %ul
    %li.vevent
      %abbr.dtstart{:title => '2011-02-10T13:00+01:00'}
        %span.day 10
        %span.month feb
      %span.row
        %span.summary Agile? C'est quoi ce truc?
        %abbr.dtend{:title => '2011-02-10T14:00+01:00'} 13u00 - 14u00
      %span.row
        %span.location Louvain-la-Neuve, UCL, BARB94
        %span.description in het Frans
  
    %li.vevent
      %abbr.dtstart{:title => '2011-02-17T13:00+01:00'}
        %span.day 17
        %span.month feb
      %span.row
        %span.summary Estimer &amp; Planifier
        %abbr.dtend{:title => '2011-02-17T14:00+01:00'} 13u00 - 14u00
      %span.row
        %span.location Louvain-la-Neuve, UCL, BARB94
        %span.description in het Frans
  
    %li.vevent.next
      %abbr.dtstart{:title => '2011-02-21T18:30+01:00'}
        %span.day 21
        %span.month feb
      %span.row
        %span.summary Planification Workshop
        %abbr.dtend{:title => '2011-02-21T21:30+01:00'} 18u30 - 21u30
      %span.row
        %span.location Louvain-la-Neuve, UCL, BARB94
        %span.description in het Frans
  
    %li.vevent
      %abbr.dtstart{:title => '2011-02-24T13:00+01:00'}
        %span.day 24
        %span.month feb
      %span.row
        %span.summary Développer oui, mais pas n'importe comment
        %abbr.dtend{:title => '2011-02-24T14:00+01:00'} 13u00 - 14u00
      %span.row
        %span.location Louvain-la-Neuve, UCL, BARB94
        %span.description in het Frans
  
    %li.vevent
      %abbr.dtstart{:title => '2011-02-28T18:30+01:00'}
        %span.day 28
        %span.month feb
      %span.row
        %span.summary Code workshop
        %abbr.dtend{:title => '2011-02-28T21:30+01:00'} 18u30 - 21u30
      %span.row
        %span.location Louvain-la-Neuve, UCL, BARB94
        %span.description in het Frans
  
    %li.vevent
      %abbr.dtstart{:title => '2011-03-03T13:00+01:00'}
        %span.day 03
        %span.month mrt
      %span.row
        %span.summary Retrospectives et conclusion
        %abbr.dtend{:title => '2011-03-03T14:00+01:00'} 13u00 - 14u00
      %span.row
        %span.location Louvain-la-Neuve, UCL, BARB94
        %span.description in het Frans

    %p
      De
      %a{:href => "http://uclouvain.acm-sc.be/activites/2010-2011/tutoriels/agile-campus-tour/index"} inschrijvingen
      worden georganiseerd door de ACM Student Chapter.
  
  %h2 Bergen
  
  %ul
    %li.vevent
      %abbr.dtstart{:title => '2011-03-16'}
        %span.day 16
        %span.month mrt
      %span.summary L'agilité, une autre manière de développer des logiciels
      %span.location Bergen, UMONS
      %span.description in het Frans
