%h1= t.tabs.calendar

%ul
  %li.event
    %span.date  10/02 
    %span.title Agile? C'est quoi ce truc?
    %br
    %span.city  Louvain-la-Neuve, UCL, BARB94
    %span.time  13h00 - 14h00
    %span.warning En français

  %li.event
    %span.date  17/02
    %span.title Estimer & Planifier
    %br
    %span.city  Louvain-la-Neuve, UCL, BARB94
    %span.time  13h00 - 14h00
    %span.warning En français

  %li.event
    %span.date  21/02
    %span.title Planification Workshop
    %br
    %span.city  Louvain-la-Neuve, UCL, BARB94
    %span.time  18h30 - 21h30
    %span.warning En français
  
  %li.event
    %span.date  24/02
    %span.title Développer oui, mais pas n'importe comment
    %br
    %span.city  Louvain-la-Neuve, UCL, BARB94
    %span.time  13h00 - 14h00
    %span.warning En français
  
  %li.event
    %span.date  28/02
    %span.title Code workshop
    %br
    %span.city  Louvain-la-Neuve, UCL, BARB94
    %span.time  18h30 - 21h30
    %span.warning En français
    
  %li.event
    %span.date  03/03
    %span.title Retrospectives et conclusion
    %br
    %span.city  Louvain-la-Neuve, UCL, BARB94
    %span.time  13h00 - 14h00
    %span.warning En français
    
  %li.event
    %span.date  16/03
    %span.title L'agilité, une autre manière de développer des logiciels
    %br
    %span.city  Mons, UMONS
    %span.warning En français
