%h1= t.tabs.credits

%div
  %img.gravatar{:src => "http://www.gravatar.com/avatar/2cf670606f735ddde27e87e1f63c9410?s=80", :alt => "Marc Lainez"}
  %span.name Marc Lainez
  %span.bio Idépendant, j'ai été diplômé de l'UCL en 2007. En trois années à travailler dans des entreprises de taille diverse, j'ai pu observer le cycle de vie de plusieurs projets. Convaincu qu'il était nécessaire de trouver une autre manière de gérer les projets et les équipes de développement, j'ai commencer mon voyage vers l'agilité il y a plus de deux ans. J'adore partager mes idées et mes expériences Agile avec le plus grand nombre.

%div
  %img.gravatar{:src => "http://www.gravatar.com/avatar/cbc1acceddbfaceee4cf3cae24d7c912?s=80", :alt => "Julien Biezemans"}
  %span.name Julien Biezemans
  %span.bio Trululu

%div
  %img.gravatar{:src => "http://www.gravatar.com/avatar/fee5ffeec5750ef42697fdfe6e1348c4?s=80", :alt => "Julien Biezemans"}
  %span.name Simon Schoeters
  %span.bio Pouetpouet