%h1= t.tabs.credits

%div
  %img.gravatar{:src => "http://www.gravatar.com/avatar/2cf670606f735ddde27e87e1f63c9410?s=80", :alt => "Marc Lainez"}
  %span.name Marc Lainez
  %span.bio I am a young freelance who graduated from the UCL, Belgium, in 2007. During three years working in companies of various size, I had the opportunity to see the lifecycle of several projects. Convinced that there is a need to change the way we usually manage projects and teams, I started my Agile journey a couple of years ago. I always love to share my thoughts about Agile and my experiments with others.
%div
  %img.gravatar{:src => "http://www.gravatar.com/avatar/cbc1acceddbfaceee4cf3cae24d7c912?s=80", :alt => "Julien Biezemans"}
  %span.name Julien Biezemans
  %span.bio Trululu

%div
  %img.gravatar{:src => "http://www.gravatar.com/avatar/fee5ffeec5750ef42697fdfe6e1348c4?s=80", :alt => "Julien Biezemans"}
  %span.name Simon Schoeters
  %span.bio Pouetpouet