%article
  %h1= t.tabs.credits

  %section
    %h2 Marc Lainez
    %a(href="http://twitter.com/mlainez")
      %img.avatar{:src => "http://www.gravatar.com/avatar/2cf670606f735ddde27e87e1f63c9410?s=120", :alt => "Marc Lainez"}
    %p I am a young freelance who graduated from the UCL, Belgium, in 2007. During three years working in companies of various size, I had the opportunity to see the lifecycle of several projects.
    %p Convinced that there is a need to change the way we usually manage projects and teams, I started my Agile journey a couple of years ago. I always love to share my thoughts about Agile and my experiments with others.
  
  %section
    %h2 Julien Biezemans
    %a(href="http://twitter.com/jbpros")
      %img.avatar{:src => "http://www.gravatar.com/avatar/cbc1acceddbfaceee4cf3cae24d7c912?s=120", :alt => "Julien Biezemans"}
    %p I'm a developer and project manager since 2003. I had the opportunity yo work on several software projects, mainly web applications.
    %p During those projects I experienced several project management methodologies. Convinved by the values and pragmatism of agile methodologies, I apply them daily to answer the real needs of my customers and users.
    %p I am passionate about agile programming techniques like Behaviour-Driven Development, Test-Driven Development, Domain-Driven Design, Pair Programming, etc.
  
  %section
    %h2 Simon Schoeters
    %a(href="http://twitter.com/cimm")
      %img.avatar{:src => "http://www.gravatar.com/avatar/fee5ffeec5750ef42697fdfe6e1348c4?s=120", :alt => "Julien Biezemans"}
    %p Intrigued by the web and its potential, convinced it will keep reinventing itself and happy to be part of that. Feels there is not enough time to build all the applications he comes up with. Playing with code is not a job, it's way too much fun.
