%h1 C'est quoi l'Agile Campus Tour?

%p L'agilité intéresse de plus en plus de monde. Beaucoup d'entreprises cherchant d'autres moyens de gérer leurs projets et leurs équipes voient dans l'agilité une piste à suivre. Mais derrière l'effet de mode, il y a de fortes valeurs et un ensemble de pratiques. L'Agile Campus Tour ne fera pas de vous un spécialiste de l'agile ni d'un de ses frameworks dérivés. Son but est d'apporter les valeurs de l'agilité aux étudiants. Ouvrir leurs esprits à d'autres pratiques de gestion de projet et de développement; leur fournir des outils qu'ils pourraient utiliser dans leurs projets. Notre souhait est qu'ils comprennent ce qu'il y a derrière le mot Agile, afin qu'ils deviennent de meilleurs développeurs, analystes, leaders et managers.

%p L'évènement est entièrement fratuit, l'organisation des sessions est très flexible et peut être adaptée aux habitudes des étudiants et à l'infrastructure de l'université ou de l'école. Il est composé d'un mix de sessions théoriques et pratiques.

%p Les points suivants sont couverts dans la théorie:

%ul
  %li Valeurs du manifeste Agile
  %li Comment le problèmes habituels d'un projet IT peuvent être abordés par les valeurs et principes Agile
  %li Introduction au concept des User Stories
  %li Story points et techniques d'estimation
  %li Introduction à l'utilisation d'un Kanban
  %li Pair Programming
  %li Introduction au BDD (Behavior Driven Development)
  %li Améliorer les processus grâce aux rétrospectives
  
%p Les sessions pratiques se concentrent sur la planification et l'estimation d'un projet, ainsi que sur le développement en paires et le BDD.

%p Rejoignez la nouvelle génération Agile, aidez-nous à orgniser l'évènement dans votre université ou école!