:javascript
  jQuery(document).ready(function($) {
    $(".tweet").tweet({
      username: "agilecampustour",
      avatar_size: 48,
      count: 10,
      query: "agilecampustour",
      refresh_interval: 10,
      loading_text: "loading tweets..."
    });
  });
%h2= t.title
%div.tweet