%h1 What is the Agile Campus Tour?

%p Agile is a new buzzword. A lot of companies are looking for other ways to manage projects and teams, and therefore, are looking at Agile as a possible candidate. But behind the buzzword, there are strong values and practices. The Agile Campus Tour will not make you experts in any Agile frameworks. It's purpose is to bring Agile values to students. Open their minds to other practices, and provide them some tools they might want to use on their own projects. We would like them to understand what is behind Agile, so that they can be better developers, analysts, leaders and managers. 

%p The event is totally free, it's schedule is flexible and can be adapted to students habits and schedule. It's composed of a mix of theory and hands-on sessions.

%p The theory will cover the following topics:

%ul
  %li Values of the agile manifesto
  %li How the common problems we have in an IT project can be addressed through agile values and principles
  %li Concept of user Stories
  %li Story points and story points estimation
  %li The basics of Kanban
  %li Pair Programming
  %li Basics behind Behaviour Driven Development
  %li Improve the process through frequent retrospectives

%p Join the next Agile Generation, help us organize the Agile Campus Tour in your university!