%article
  %h1
    Nous cherchons des sponsors
    %time{:datetime => "2011-02-09"} 9 Février 2011
  %p
    L'Agile Campus Tour est toujours à la recherche de sponsors, n'hésitez pas à nous
    %a{:href => "mailto:info@agilecampustour.org"} contacter
    si vous êtes intéressé!
%article
  %h1
    Nous débarquons à Mons
    %time{:datetime => "2011-02-09"} 9 Février 2011
  %p
    L'université de Mons (
    %abbr{:title => "Université de Mons"}<> UMONS
    ) acceuillera l'Agile Campus Tour en March, pour le moment il n'y a qu'une seule séance de planifiée. Consultez le
    %a{:href => "calendar"} calendrier des sessions
    pour plus d'info.
%article
  %h1
    Le DotNetHub, premier sponsor
    %time{:datetime => "2011-02-09"} 9 Février 2011
  %p
    L'association
    %a{:href => "http://www.dotnethub.be/"} DotNetHub
    sponsorisera les deux séances pratiques de l'
    %abbr{:title => "Univeristé Catholique de Louvain"}<> UCL
    , merci au DotNetHub!
%article
  %h1
    L'Agile Campus Tour débute à Louvain-la-Neuve
    %time{:datetime => "2011-02-09"} 9 Février 2011
  %p
    L'université Catholique de Louvain (
    %abbr{:title => "Univeristé Catholique de Louvain"}<> UCL
    ) est la première université à accueillir l'Agile Campus Tour. Il y a déjà 4 sessions théoriques planifiées durant le temps de midi et 2 sessions pratiques en soirée. Consultez
    %a{:href => "calendar"} le calendrier
    pour plus d'info!
