%article
  %h1
    UMONS Fotos en Slides
    %time{:datetime => "2011-03-30"} 30 maart 2011
  %p
    De slides van onze UMONS sessies kan je terugvinden op
    %a{:href => "http://www.slideshare.net/agilecampustour"} Slideshare
    en de fotos op
    %a{:href => "http://www.flickr.com/photos/59358527@N06/"} Flickr
    \.
%article
  %h1
    Bedankt UMONS, het was leuk
    %time{:datetime => "2011-03-30"} 30 maart 2011
  %p
    Na de twee theoretische seminaries organiseerden we een "Raming en planning" sessie. Deze keer gaven de studenten ons een score van 4,4 op 5. Niet zo slecht voor een tweede keer. ;)

%article
  %h1
    UCL Fotos en Slides
    %time{:datetime => "2011-03-20"} 20 maart 2011
  %p
    De slides van onze sessies aan de UCL kan je vinden op
    %a{:href => "http://www.slideshare.net/agilecampustour"} Slideshare
    en de fotos op
    %a{:href => "http://www.flickr.com/photos/59358527@N06/"} Flickr
    \.
%article
  %h1
    Bedankt UCL, het was leuk
    %time{:datetime => "2011-03-15"} 15 maart 2011
  %p
    In februari organiseerde we maar liefst 6 sessies aan de UCL: 4 theoretische seminaries tijdens de middagpauzes en 2 workshops. We ontvingen een hoop feedback van de studenten en kregen een score van 3,98 op 5. Dit willen we graag verbeteren!
%article
  %h1
    Op zoek naar sponsors
    %time{:datetime => "2011-02-09"} 9 feb 2011
  %p
    De AgileCampusTour is nog steeds op zoek naar sponsors. Stuur ons een
    %a{:href => "mailto:info@agilecampustour.org"} email
    als je interesse hebt!
%article
  %h1
    We gaan naar Bergen
    %time{:datetime => "2011-02-09"} 9 feb 2011
  %p
    De universiteit van Bergen (UMONS) zal de AgileCampusTour ontvangen in maart. De eerste sessie is reeds gepland, bekijk de
    %a{:href => "calendar"} kalender
    voor meer informatie.
%article
  %h1
    De DotNetHub sponsort
    %time{:datetime => "2011-02-09"} 9 feb 2011
  %p
    De
    %a{:href => "http://www.dotnethub.be/"} DotNetHub
    vereniging zal de twee praktijksessies aan de UCL sponsoren. Alvast bedankt!
%article
  %h1
    De AgileCampusTour start in Louvain-la-Neuve
    %time{:datetime => "2011-02-09"} 9 feb 2011
  %p
    De universiteit van Louvain-la-Neuve (UCL) is de eerste universiteit om de AgileCampusTour te ontvangen. Er zijn 4 sessies gepland onder de middag en 2 avondsessies in februari. Bekijk de
    %a{:href => "calendar"} kalender
    voor meer informatie.
