%article
  %h1
    We're looking for sponsors
    %time{:datetime => "2011-02-09"} Feb 9th, 2011
  %p
    The AgileCampusTour is still looking for sponsors, do not hesitate to send us an
    %a{:href => "mailto:info@agilecampustour.org"} email
    if you are interested!
%article
  %h1
    We go to Mons
    %time{:datetime => "2011-02-09"} Feb 9th, 2011
  %p
    The University of Mons (UMONS) will be hosting the AgileCampusTour in March, right now there is only one sessions scheduled. Check out the
    %a{:href => "calendar"} calendar
    for more info.
%article
  %h1
    The DotNetHub is sponsoring us
    %time{:datetime => "2011-02-09"} Feb 9th, 2011
  %p
    The association
    %a{:href => "http://www.dotnethub.be/"} DotNetHub
    is sponsoring the two hands-on sessions at the UCL. Many thanks to them!
%article
  %h1
    The AgileCampusTour starts in Louvain-la-Neuve
    %time{:datetime => "2011-02-09"} Feb 9th, 2011
  %p
    The University of Louvain-la-Neuve (UCL), first university to welcome the AgileCampusTour. We have 4 sessions scheduled during lunch time and 2 sessions in the evening in February, check out the
    %a{:href => "calendar"} calendar
    for more info.
