%article
  %h1= t.tabs.team

  %section
    %h2 Marc Lainez
    %a(href="http://twitter.com/mlainez")
      %img.avatar{:src => "http://www.gravatar.com/avatar/2cf670606f735ddde27e87e1f63c9410?s=120", :alt => "Marc Lainez"}
    %p Ik ben een jonge freelancer, afgestudeerd aan de UCL, België, in 2007. Tijdens mijn drie jaar werkervaring bij bedrijven van verschillende omvang had ik de mogelijkheid de levenscyclus van verschillende projecten van dichtbij op te volgen.
    %p Overtuigd van de noodzaak om de manier te veranderen waarop we normaal teams en projecten beheren starte ik een paar jaar gelden mijn agile reis. Ik hou ervan mijn gedachten en experimenten rond agile te delen met anderen.

  %section
    %h2 Julien Biezemans
    %a(href="http://twitter.com/jbpros")
      %img.avatar{:src => "http://www.gravatar.com/avatar/cbc1acceddbfaceee4cf3cae24d7c912?s=120", :alt => "Julien Biezemans"}
    %p Ik ben developer en project manager sinds 2003. Ik had de mogelijkheid op verschillende software projecten te werken, hoofdzakelijk web applicaties.
    %p Tijdens deze projecten kwam ik in aanraking met verschillende project management methodologiën. Overtuigd van de waardes en pragmatisme van agile methodologiën pas ik deze dagelijks toe om te antwoorden op de reële vraag van klanten en gebruikers.
    %p Ik ben gepassioneerd door agile ontwikkelings technieken zoals Behaviour-Driven Development, Test-Driven Development, Domain-Driven Design, Pair Programming, etc.

  %section
    %h2 Simon Schoeters
    %a(href="http://twitter.com/cimm")
      %img.avatar{:src => "http://www.gravatar.com/avatar/fee5ffeec5750ef42697fdfe6e1348c4?s=120", :alt => "Simon Schoeters"}
    %p Geïntrigeerd door het potentieel van het web, overtuigd dat het zichzelf steeds opnieuw zal uitvingen en blij om daar een onderdeeltje van te mogen zijn. Vindt dat er niet genoeg tijd voorhanden is om alle verschillende applicaties te bouwen die in zijn hoofd zitten. Spelen met code is geen beroep, daarvoor is het veel te plezierig.
