%article
  %h1= t.tabs.team
  
  %section
    %h2 Marc Lainez
    %a(href="http://twitter.com/mlainez")
      %img.avatar{:src => "http://www.gravatar.com/avatar/2cf670606f735ddde27e87e1f63c9410?s=120", :alt => "Marc Lainez"}
    %p Indépendant, j'ai été diplômé de l'UCL en 2007. En trois années à travailler dans des entreprises de tailles diverses, j'ai pu observer le cycle de vie de plusieurs projets.
    %p Convaincu qu'il était nécessaire de trouver une autre manière de gérer les projets et les équipes de développement, j'ai commencé mon voyage vers l'agilité il y a plus de deux ans. J'adore partager mes idées et mes expériences agiles avec le plus grand nombre.
  
  %section
    %h2 Julien Biezemans
    %a(href="http://twitter.com/jbpros")
      %img.avatar{:src => "http://www.gravatar.com/avatar/cbc1acceddbfaceee4cf3cae24d7c912?s=120", :alt => "Julien Biezemans"}
    %p Développeur et project manager indépendant depuis 2003, j'ai eu l'occasion de travailler sur plusieurs types de projets logiciels, majoritairement des applications web.
    %p Au cours de ces développements, j'ai été amené à expérimenter diverses méthodes de gestion de projet. Convaincu par les valeurs et le pragmatisme des méthodologies agiles, je les applique au quotidien afin de toujours mieux répondre aux réels besoins du client et des utilisateurs.
    %p Je me passionne particulièrement pour les techniques de programmation qui répondent aux pratiques agiles telles que le Behaviour-Driven Development et le Test-Driven Development, le Domain-Driven Design, le "Pair Programming", etc.
    %p
  %section
    %h2 Simon Schoeters
    %a(href="http://twitter.com/cimm")
      %img.avatar{:src => "http://www.gravatar.com/avatar/fee5ffeec5750ef42697fdfe6e1348c4?s=120", :alt => "Julien Biezemans"}
    %p Intrigué par le web et son potentiel, je suis convaincu qu'il ne cesse de se réinventer et heureux d'en faire partie. J'ai l'impression de ne pas avoir assez de temps pour développer toutes les applications auxquelles je pense. Coder n'est pas un job, c'est bien trop amusant!
